@import "../omarchy/current/theme/waybar.css";

/* --- Global-Settings ---*/
* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 12px;
    font-weight: bold;
    min-height: 0px;
}

/* --- Waybar ---*/
window#waybar {
    background-color: transparent;
    transition-property: background-color;
    transition-duration: 0.5s;
}

window#waybar.empty #window {
    background: transparent;
    border: none;
    border-radius: 0;
    color: transparent;
    padding: 0;
    margin: 0;
}

#waybar.empty .modules-center {
    opacity: 0;
}

/* --- Custom Modules ---*/
.modules-center {
    min-width: 880px;
    margin-left: 300px;
}

/* --- Tooltip ---*/
tooltip {
    padding: 6px;
    background-color: alpha(@background, 1);
    border: 1.5px solid alpha(@foreground, 0.8);
    border-radius: 12px;
    font-size: 12px;
}

tooltip label {
    color: @foreground;
    font-weight: normal;
}

/* --- Workspaces --- */
#workspaces {
    border-radius: 999px;
    margin: 2px 3px;
}

#workspaces button {
    padding: 0px 10px;
    margin: 0 4px 0 0;
    border-radius: 999px;
    background-color: alpha(@background, 0.45);
    color: @foreground;
    box-shadow: 0 1px 2px rgba(10, 10, 10, 0.8);
}

#workspaces button.active {
    background-color: alpha(#e2eeff, 0.65);
    color: @background;
    border-radius: 999px;
}

#workspaces button:hover {
    background-color: #e2eeff;
    color: @background;
    opacity: 0.65;
}

/* --- General Modules (PILL SHAPE) --- */
#tray,
#custom-trayicon,
#window,
#mpris,
#cpu,
#clock,
#battery,
#network,
#memory,
#backlight,
#bluetooth,
#pulseaudio,
#power-profiles-daemon,
#custom-weather,
#custom-update,
#idle_inhibitor,
#custom-omarchy,
#not-power,
#custom-voxtype,
#custom-voxtype.recording,
#custom-voxtype.transcribing,
#custom-screenrecording-indicator,
#custom-updatespacman {
    min-width: 18px;
    margin: 2px;
    padding: 0px 12px;
    border-radius: 999px;
    box-shadow: 0 1px 2px rgba(10, 10, 10, 0.8);
    background-color: alpha(@background, 0.45);
    color: @foreground;
}
#custom-voxtype {
    background-color: alpha(@background, 0.45);
    min-width: 12px;
    margin: 0 0 0 2.5px;
}

#custom-voxtype.recording {
    background-color: alpha(@background, 0.45);
    color: #a55555;
}

/* --- Hover (keep pill) --- */
#clock:hover,
#custom-trayicon:hover,
#cpu:hover,
#not-power:hover,
#memory:hover,
#window:hover,
#mpris:hover,
#temperature:hover,
#battery:hover,
#power-profiles-daemon:hover,
#bluetooth:hover,
#backlight:hover,
#custom-omarchy:hover,
#custom-weather:hover,
#custom-update:hover,
#idle_inhibitor:hover,
#custom-updatespacman:hover,
#network:hover,
#pulseaudio:hover {
    border-radius: 999px;
    background-color: #e2eeff;
    color: @background;
    opacity: 0.65;
}

/* --- Battery states --- */
#battery.warning {
    color: #c95d0f;
}

#battery.critical:not(.charging) {
    animation: blink2 0.5s steps(12) infinite alternate;
}

/* --- Animations unchanged --- */
@keyframes blink {
    to {
        color: #4a4a4a;
    }
}

@keyframes blink2 {
    to {
        background-color: alpha(@background, 0.45);
        color: #f53c3c;
    }
}
